<div class="container-fluid" id="manageScreen">
    <span class="pull-left" style="margin-top:24px;">
        <a href="interim.htm" title="Back to Interim Home"><i class="fa fa-arrow-circle-o-left  fa-lg"></i>Back to Interim Home  </a>
    </span>
    <h3>&nbsp;&nbsp;Assign Test</h3>
    <div class="row manage-test text-center">
        <div class="col-sm-4 manage-left">
            <img src="images/test_icon.png"  alt="Assign Test"/>
            <div id="testNameSideTab"><h3><%=testName%></h3></div>
            <p>
                <%=testDescription%>
            </p>
            <a id="PreviewLink" data-itid="<%=itid%>" data-testcollectionid="<%=testCollectionId%>" data-name="<%=testName%>" style="cursor: pointer;">Preview Test</a>
        </div>
        <div class="col-sm-8 manage-right">
            <div id="validationError"  style="display:none;">
                <p id="errorMsg">Grade<span class="text_red">*</span> and Subject<span class="text_red">*</span> are Mandatory fields.</p>
            </div>
            <div class="row">
                <div class="form-group col-sm-4" id="assignRosterConatiner" style="display:none">
                    <label id="transparentAssignRosterConatiner" class="transparent" >Search</label>
                    <a href="#" class="btn btn-primary" id="autoAssignRoster">AutoAssign to roster </a>
                </div>
                <div class="form-group col-sm-4" id="assignGradeConatiner" style="display:none">
                    <label id="transparentAssignGradeConatiner" class="transparent" >Search</label>
                    <a href="#" class="btn btn-primary" id="autoAssignGrade">AutoAssign to Grade </a>
                </div>
                <div class="form-group col-sm-4">
                    <label id="transparentAutoAssignStudents" class="transparent" >Search</label>
                    <a href="#" class="btn btn-primary" id="autoAssignStudents">Select Specific Students </a>
                </div>
            </div>          
                
            <form id="js-formsearch">
                <div class="row">
                    <%if(groups && groups.length>0){%>
                        <div class="form-group col-sm-4" id="studentGroup">
                            <label>STUDENT GROUP <a id="whygroups"><i class="fa fa-question-circle" aria-hidden="true"></i></a></label>
                            <select id="existinggroup" class="form-control">
                                <option></option>
                                <%for(var i=0;i <groups.length; i++) {%>
                                    <option value="<%=groups[i].id%>">
                                        <%=groups[i].groupName%>
                                    </option>
                                <%}%>
                            </select>
                        </div>
                    <%}%>
                    <div class="form-group col-sm-4">
                        <label>ROSTER</label>
                        <select multiple="true" data-placeholder="Select Roster" id="interimRoster" class="form-control" title="Roster">
                            <%for(var i=0;i <dropdownObject.rostername.length; i++) {%>
                                <option value="<%=dropdownObject.rostername[i].id%>">
                                    <%=dropdownObject.rostername[i].name%>
                                </option>
                            <%}%>
                        </select>
                    </div>
                    <%if (currentAssessmentProgramName != 'PLTW'){%>
                    <div class="form-group col-sm-4">
                        <label>GRADE</label>
                        <select multiple="true" data-placeholder="Select Grade" id="interimRosterGrade" class="form-control" title="Grade">
                            <%for(var i=0;i <dropdownObject.gradename.length; i++) {%>
                                <option value="<%=dropdownObject.gradename[i].id%>">
                                    <%=dropdownObject.gradename[i].name%>
                                </option>
                            <%}%>
                        </select>
                    </div>
                     <%}%>
                    <div class="form-group col-sm-2">
                        <label id="transparentStudentSearch" class="transparent" >Search</label>
                        <a href="#" class="btn btn-primary" id="studentSearch">Search</a>
                    </div>
                </div>
            </form>
            <div id="js-groupselect" style="display:none">
                <table id="groupstudenttable">
                    <tr>
                        <td />
                    </tr>
                </table>
                <div id="pagerStudentgroup"></div>
                <div class="modal-footer assignnewstudentsdivgroup" style="display:none">
                    <a class="btn btn-primary" id="saveNewStudTestgroup">Save</a>
                    <a class="btn btn-default" id="cancelAddinggroup">Cancel</a>
                </div>
            </div>
            <div id="js-individualselect" style="display:none">
                <table id="studentTable">
                    <tr>
                        <td />
                    </tr>
                </table>
                <div id="pagerStudent"></div>
                <div class="modal-footer assignnewstudentsdiv" style="display:none">
                    <a class="btn btn-primary" id="saveNewStudTest">Save</a>
                    <a class="btn btn-default" id="cancelAdding">Cancel</a>
                </div>
            </div>
            <div id="js-testassigned" style="display:none">
                <table id="testassignedTable">
                    <tr>
                        <td />
                    </tr>
                </table>
                <div id="testassignedpager"></div>
            </div>
            <!--<a href="#" class="btn btn-green btn-lg pull-right" style="display:none;margin-top: 10px" id="movingToScheduleTest">Assign Now</a>-->
                
            <div class="row">
                <div class="form-group col-sm-4" id="interimGrade">
                    <label>Grade <span class="text_red">*</span></label>
                    <select multiple="true" data-placeholder="Select Grade" id="interimRosterAutoGrade" class="form-control" title="Grade">
                        <%for(var i=0;i <dropdownObject.gradename.length; i++) {%>
                            <option value="<%=dropdownObject.gradename[i].id%>">
                                <%=dropdownObject.gradename[i].name%>
                            </option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group col-sm-4" id="assignSubjectConatiner">
                <label>Subject <span class="text_red">*</span></label>
                    <select multiple="true" data-placeholder="Select Grade" id="interimAssignSubject" class="form-control" title="Subject">
                        <%for(var i=0;i <dropdownObject.subjectname.length; i++) {%>
                            <option value="<%=dropdownObject.subjectname[i].id%>">
                                <%=dropdownObject.subjectname[i].name%>
                            </option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group col-sm-4" id="interimRosterContainer">
                    <label>ROSTER</label>
                    <select multiple="true" data-placeholder="Select Roster" id="interimAutoRoster" class="form-control" style="width:140px;">
                        <%for(var i=0;i <dropdownObject.rostername.length; i++) {%>
                            <option value="<%=dropdownObject.rostername[i].id%>">
                                <%=dropdownObject.rostername[i].name%>
                            </option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group col-sm-2" id="assignConatiner">
                    <label id="transparentAssign" class="transparent" >Assign</label>
                    <a href="#" class="form-control btn btn-primary" id="assign">Assign</a>
                </div>
                <div class="form-group col-ms-2" id="rosterSubmitConatiner">
                    <label id="transparentRosterSubmit" class="transparent" >Submit</label>
                    <a href="#" class="form-control btn btn-primary" id="rosterSubmit">Submit</a>
                </div>
            </div>
            <form class="row form-horizontal h_form" id="js-groupnameform" style="display:none">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="groupname" class="form-control" placeholder="Student Group Name">
                        <span id="groupnameerror" style="color:red;display:none">Please give the student group name</span>
                    </div>
                </div>
            </form>
            <a href="#" class="btn btn-green btn-lg pull-right" style="display:none;margin-top: 10px" id="movingToSchedule">Assign Now</a>
            <a href="#" class="btn btn-gray btn-lg pull-right" id="js-cancelgroup" onclick="cancelGroupCreation()" style="display:none">Cancel</a>
            <a href="#" class="btn btn-green btn-lg pull-right" id="js-savegroup" style="display:none">Save</a>
            <a href="#" class="btn btn-green btn-lg pull-right" id="js-showSchdule" style="display:none;margin-top: 10px">Back to Interim</a>
            <a href="#" class="btn btn-green btn-lg pull-right" id="js-edittestsesstion" style="display:none;margin-top: 10px">Save Changes</a>
            <div id="group-create" class="" style="display:none">
                <h2></h2>
                <p>Would you like to create a Student Group? Creating a Student Group means that you can reuse 
                    this group of students later without selecting them individually.</p>
                
                <button type="button" onclick="createGroup()" class="btn" style="margin-left: 60%; margin-top: 10px; height: 35px;">Yes</button>
                <button role="button" type="button" onclick="cancelGroupCreation()" class="btn" style="margin-left: 3%; margin-top: 10px; height: 35px;">No</button>
                    
            </div>
            <div id="cancel-group-create" class="" style="display:none">
                <h2></h2>
                <p>Are you sure you don't want to create student group?</p>
                <button type="button" onclick="cancelGroupCreation()" class="btn" style="margin-left: 60%; margin-top: 10px; height: 35px;">Yes</button>
                <button role="button" type="button" onclick="yescreategroup()" class="btn" style="margin-left: 3%; margin-top: 10px; height: 35px;">No</button>
            </div>
            <div id="why-group-creation" class="" style="display:none">
                <p>A Student Group saves the list of students you have selected so that you can assign tests to that 
                    group later without having to re-select the students. Student Groups can be edited later. Student 
                    Groups make it easier to assign Interim Tests and do not affect class rosters or other kinds of tests.
                </p>
                <button type="button" class="btn group-okay" style="margin-left: 60%; margin-top: 10px; height: 35px;">Okay</button>
            </div>
        </div>
    </div>
</div>
<div id="assignSucessMsgDailog"></div>
<div id="assignRosterSucessMsgDailog"></div>
<div class="container-fluid" id="scheduleScreen" style="display:none">
    <h3>Manage Tests</h3>
    <div class="row schedule-test text-center">
        <div class="col-sm-4 schedule-left">
            <img src="images/schedule_icon.png" alt="Scheduling"/>
            <h3>SCHEDULING</h3>
            <p id="scheduleSummary"></p>
        </div>
        <div class="col-sm-8 schedule-right">
            <div class="card">
                <h3><label>Select Test Dates And Time Range (CT)<a id="whatSchedule"><i class="fa fa-question-circle" aria-hidden="true"></i></a></label></h3>
                <br/>
                <form class="row">
                    <div class="form-group col-sm-6">
                        <label>Start Date</label>
                        <input type="text" id="js-start-date" class="form-control" readonly="true" placeholder="Select" style="background-color: white">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>End Date</label>
                        <input type="text" id="js-end-date" class="form-control" readonly="true" placeholder="Select" style="background-color: white">
                    </div>
                    <div class="col-sm-12">
                        <label>Students May Start Tests During This Time Range</label>
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="text" id="js-start-time" class="form-control" placeholder="Select">
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="text" id="js-end-time" class="form-control" placeholder="Select">
                    </div>
                </form>
                <div class="row">
                    <small class="row" id="schedulepage-errors" style="color:red"></small>
                    <div class="col-sm-8">
                        <button class="btn btn-green btn-block btn-lg" id="scheduleButton">Schedule</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="col-sm-6 btn btn-primary btn-lg btn-block" id="backtomanage">Cancel</button>
                    </div>
                    <div class=" col-sm-12 backtointerimhome" style="display:none">
                        <a class="col-sm-12 btn btn-primary btn-lg btn-block" href="interim.htm" id="backToInterim">Back to Interim Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="what-Schedule" class="" style="display:none">
    <div class="">
        <p>Students may begin an Interim Test at any time during the DATE and TIME combination that you select. 
            For instance, if you choose: START DATE - 09/05/16 END DATE - 09/07/16 START TIME - 9:00 AM END TIME - 10:00 AM 
            Then students will be able to attempt the Interim Test any time between 9:00 and 10:00 AM on any of the 
            days 9/1, 9/2, or 9/3 (Mon, Tue, or Wed).
        </p>
    </div>  
    <div class="">
        <button type="button" class="btn group-okay" style="margin-left: 60%; margin-top: 10px; height: 35px;">Okay</button>
    </div>
</div>

<div class="container-fluid" id="scheduleConfirm" style="display:none">
    <h3>Assign Tests</h3>
    <div class="row assign-test text-center">
        <div class="assign-right">
            <div class="card">
                <h3>You have scheduled interim test <span class="text-primary"><%=testName%></span> successfully 
                    to <span  class="text-primary" id="assigned-students-count"></span>  students.
                </h3>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-offset-6 col-sm-6">
                    <a class="col-sm-6 btn btn-primary btn-lg btn-block" href="interim.htm">Back to Interim Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
