<!-- tags  -->
	<div id="tag" class="drawer tool-container" style="width:25%;">

		<div class="tool-hdr">
			<a href="#" class="ind-tool-close tool-close">X</a>
		</div>

		<a id="tag_clear" class="change-title btn" href="#"><%=tool_names.tags.clear %></a>

		<h2 class="drawer-hdr"><%=tool_names.tags.header %></h2>

		<div class="drawer-content">

			<a id="tag_main_idea" href="#" title="<%=tool_names.tags.main_idea %>" id="main_title_tag"><img src="/images/tag-mainidea.png" alt="" /> <%=tool_names.tags.main_idea %></a>
			<a id="tag_supporting_detail" href="#" title="<%=tool_names.tags.supporting_detail %>" id="support_tag"><img src="/images/tag-support.png" alt="" /> <%=tool_names.tags.supporting_detail %></a>
			<a id="tag_keywords" href="#" title="<%=tool_names.tags.keywords %>" id="keyword_tag"><img src="/images/tag-keyword.png" alt="" /> <%=tool_names.tags.keywords %></a>
			<a id="tag_evidence" href="#" title="<%=tool_names.tags.evidence %>" id="evidence_tag"><img src="/images/tag-evidence.png" alt="" /> <%=tool_names.tags.evidence %></a>
			<a id="tag_readagain" href="#" title="<%=tool_names.tags.readagain %>" id="exclamation_tag"><img src="/images/tag-readagain.png" alt="" /> <%=tool_names.tags.readagain %></a>
			<a id="tag_important" href="#" title="<%=tool_names.tags.important %>" id="isImportant_tag"><img src="/images/tag-important.png" alt="" /> <%=tool_names.tags.important %></a>

		</div>
		
	</div><!-- /drawer -->
	<!-- /tags -->