<div id="videoPanel">
		
		<div>
			<a id="videoPanel-close" href="#" class="videopanel-tool-close-sa"></a>
			<a id="videoPanel-minimize" href="#" class="videopanel-tool-min-sa"></a>
		</div>
		<div id="jp_container_2" class="jp-video">
			<div class="jp-type-single">
      		<div id="jquery_jplayer_video" class="jp-jplayer"></div>
      		<div class="jp-gui">
        		<div class="jp-video-play">
          			<a href="javascript:;" class="jp-video-play-icon" tabindex="1"><%= messages.testPage.play %></a>
        		</div>
        		<div class="jp-interface">
          			<div class="jp-progress">
            			<div class="jp-seek-bar">
              				<div class="jp-play-bar"></div>
            			</div>
          			</div>
          			<div class="jp-current-time"></div>
          			<div class="jp-duration"></div>
          			<div class="jp-controls-holder">
            			<ul class="jp-controls">
              				<li><a href="javascript:;" class="jp-play" tabindex="1"><%= messages.testPage.play %></a></li>
              				<li><a href="javascript:;" class="jp-pause" tabindex="1"><%= messages.testPage.pause %></a></li>
              				<li><a href="javascript:;" class="jp-replay" tabindex="1"><%= messages.testPage.replay %></a></li>
              				<li><a href="javascript:;" class="jp-stop" tabindex="1"><%= tool_names.videoplayer.stop %></a></li>
              				<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute"><%= messages.testPage.mute %></a></li>
              				<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute"><%= messages.testPage.unmute %></a></li>
              				<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume"><%= tool_names.videoplayer.maxvolume %></a></li>
            			</ul>
           	 			<div class="jp-volume-bar">
              				<div class="jp-volume-bar-value"></div>
            			</div>
            			<ul class="jp-toggles">
              				<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat"><%= tool_names.videoplayer.repeat %></a></li>
              				<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off"><%= tool_names.videoplayer.repeatoff %></a></li>
            			</ul>
          			</div>
          			<div class="jp-title">
            			<ul>
              				<li>Big Buck Bunny Trailer</li>
            			</ul>
          			</div>
        		</div>
      		</div>
      		<div class="jp-no-solution">
        		<span><%= tool_names.auditoryCalming.update_required %></span>
        		<%= tool_names.auditoryCalming.update_message %>
      		</div>
   	 	</div>
  		</div>
	</div>