	<!-- Color Overlay -->
	<div id="screenOverlay" class="drawer overlay-btns tool-container">

		<div class="tool-hdr">
			<a href="#" class="ind-tool-close tool-close">X</a>
		</div>

		<div class="drawer-hdr h2-font"><%=tool_names.colorOverlay.header%></div>

		<div class="drawer-content isOverlay">
			<a href="#" title="<%=tool_names.colorOverlay.white%>"><span id="colorOverlay_white" class="overlayWhite"></span></a>
			<a href="#" title="<%=tool_names.colorOverlay.blue%>"><span id="colorOverlay_light_blue" class="overlayLightBlue"></span></a>
			<a href="#" title="<%=tool_names.colorOverlay.yellow%>"><span id="colorOverlay_light_yellow" class="overlayLightYellow"></span></a>
			<a href="#" title="<%=tool_names.colorOverlay.gray%>"><span id="colorOverlay_light_gray" class="overlayLightGray"></span></a>
			<a href="#" title="<%=tool_names.colorOverlay.pink%>"><span id="colorOverlay_light_pink" class="ovleryaLightPink"></span></a>
			<a href="#" title="<%=tool_names.colorOverlay.green%>"><span id="colorOverlay_light_green" class="overlayLightGreen"></span></a>
		</div>
	</div>
	<!-- /color overlay end -->